<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for item in result %}
        <tr>
            <td>{{ item[1] }}</td>
            <td>{{ item[2] }}</td>
            <td>{{ item[3] }}</td>
            <td><a href="{{item[4]}}"><button class="store">Visit</button></a></td>
            <!-- <td>{{item[5]}}</td> -->
            <td><img src="{{ item[5] }}" alt="Cannot load"></td>
        </tr>
        <!-- <tr>
            <td colspan="20"><hr></td>
        </tr> -->
	{% endfor %}
</body>
</html>