<!DOCTYPE html>
<html>
    <head>
    <title>
        forgot password
        
    </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'main.css') }}">
</head>

<body>
    {% if us %}
			<div class="alert alert-danger">
				<h2>{{us}}</h2>
			</div>
	  {% endif %}

<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active"> Password Recovery</h2>
     
      <!-- Login Form -->
      <form action="{{ url_for('forgot_password')}}" method="POST" id="form2">
        <input type="email" id="forgot" class="fadeIn second" name="email" placeholder="email">
        <input type="submit" class="fadeIn fourth" value="Send">
      </form>

      <script src="{{ url_for('static', filename = 'forgot-alert.js') }}"></script>
  <!-- 
      Will add in future
      <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>
   -->
    </div>
  </div>
</body>

</html>