<!DOCTYPE html>
<html>
<head>
	<title>Price Comparison-Sign up</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'main.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  
<div class="wrapper fadeInDown">
  {% if us %}
    <h2 style="text-align: center; font-family: sans-serif;">{{us}}</h2>
  {% endif %}
  <div id="formContent">
    <!-- Tabs Titles -->
    <a href="{{ url_for('login')}}"><h2 class="inactive underlineHover"> Log In </h2></a>
    <h2 class="active">Sign Up </h2>

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="{{ url_for('static', filename = 'user1.png') }}" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form action="{{ url_for('register')}}" method="POST">
      <input type="text" id="name" class="fadeIn second" required name="name" placeholder="name" onkeydown="return /[a-z]/i.test(event.key)">
      <input type="email" id="login" class="fadeIn second" required name="email" placeholder="email" maxlength="100" minlength="7" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.com">
      <input type="password" id="password" class="fadeIn third" required name="pass" placeholder="password" maxlength="15" minlength="8" onkeydown=test_str()>
      <br>
      <span style="display: none; font-size: smaller;" id="valid"></span>
      <!-- <input type="password" id="password" class="fadeIn third" required name="pass" placeholder="password" maxlength="15" minlength="8"> -->
      <input type="submit" class="fadeIn fourth" value="Sign Up" id="submit">
    </form>

  </div>
</div>
</body>
<script type="text/javascript">

  // function check_username(){
  //   var name = document.getElementById("name").value
  //   if(name.match())
  // }

  function test_str() {
      // var res=document.getElementById("re").value;
      // console.log("chalu")
      var str = document.getElementById("password").value;
      var valid = document.getElementById("valid")
      // if (str.match(/[a-z]/g) && str.match(
      //         /[A-Z]/g) && str.match(
      //         /[0-9]/g) && str.match(
      //         /[^a-zA-Z\d]/g) && str.length >= 8)
      if(valid.style.display === "none"){
        valid.style.display = "block";
      }
      if((str.match(/[A-Z]/)) && str.length >=8 && str.length <=15 && str.match(/[a-z]/) && str.match(/[0-9]/)){
        valid.innerHTML = "Valid password"
      }
      else
      valid.innerHTML = "Invalid password";
  }
</script>
</html>