<!DOCTYPE html>
<html>
<head>
	<title>Price Comparison Website</title>
	<link rel="stylesheet" type="text/css" href="../static/temp.css">
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
	<link
        href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@900;800;700;400&family=Sacramento&family=Ubuntu&display=swap"
        rel="stylesheet">

</head>
<body>
	<div class="container">
		<div class="container fluid welc_price">
			<h1 class="Welcome_price">Welcome to Price<span>Compare</span></h1>
			
			<div class="buttons">
				<a href="{{ url_for('login')}}"><button class="button">Log in</button></a>
				<a href="{{ url_for('signup')}}"><button class="button">Sign up</button></a>
			</div>
		</div>
	</div>
</body>
</html>
